.fool {
background-color:#ffff99;
}
.magician {
background-color:#ffcc00;
}
.high_priestess {
background-color:#0000ff;
}
.empress {
background-color:#008000;
}
.emperor {
background-color:#ff0000;
}
.hierophant {
background-color:#ff3300;
}
.lovers {
background-color:#ff8800;
}
.chariot {
background-color:#f80800;
}
.strength {
background-color:#f0ff00;
}
.hermit {
background-color:#a6a331;
}
.wheel_of_fortune {
background-color:#800080;
}
.justice {
background-color:#008000;
}
.hanged_man {
background-color:#000088;
}
.death {
background-color:#008888;
}
.temperance {
background-color:#0000ff;
}
.devil {
background-color:#000088;
}
.tower {
background-color:#ff0000;
}
.star {
background-color:#ff00ff;
}
.moon {
background-color:#ff0088;
}
.sun {
background-color:#ff8000;
}
.judgment {
background-color:#ff3300;
}
.universe {
background-color:#510099;
}
.ace_of_wands {
background-color:#ffffff;
}
.two_of_wands {
background-color:#cccccc;
}
.three_of_wands {
background-color:#000000;
}
.four_of_wands {
background-color:#0000ff;
}
.five_of_wands {
background-color:#ff0000;
}
.six_of_wands {
background-color:#ffff00;
}
.seven_of_wands {
background-color:#008000;
}
.eight_of_wands {
background-color:#ff8000;
}
.nine_of_wands {
background-color:#800080;
}
.ten_of_wands {
background-color:#a6a331;
}
.page_of_wands {
background-color:#a6a331;
}
.knight_of_wands {
background-color:#ffff00;
}
.queen_of_wands {
background-color:#000000;
}
.king_of_wands {
background-color:#cccccc;
}
.ace_of_cups {
background-color:#ffffff;
}
.two_of_cups {
background-color:#cccccc;
}
.three_of_cups {
background-color:#000000;
}
.four_of_cups {
background-color:#0000ff;
}
.five_of_cups {
background-color:#ff0000;
}
.six_of_cups {
background-color:ffff00;
}
.seven_of_cups {
background-color:#008000;
}
.eight_of_cups {
background-color:#ff8000;
}
.nine_of_cups {
background-color:#800080;
}
.ten_of_cups {
background-color:#a6a331;
}
.page_of_cups {
background-color:#a6a331;
}
.knight_of_cups {
background-color:#ffff00;
}
.queen_of_cups {
background-color:#000000;
}
.king_of_cups {
background-color:#cccccc;
}
.ace_of_swords {
background-color:#ffffff;
}
.two_of_swords {
background-color:#cccccc;
}
.three_of_swords {
background-color:#000000;
}
.four_of_swords {
background-color:#0000ff;
}
.five_of_swords {
background-color:#ff0000;
}
.six_of_swords {
background-color:ffff00;
}
.seven_of_swords {
background-color:#008000;
}
.eight_of_swords {
background-color:#ff8000;
}
.nine_of_swords {
background-color:#800080;
}
.ten_of_swords {
background-color:#a6a331;
}
.page_of_swords {
background-color:#ffff00;
}
.knight_of_swords {
background-color:#ffff00;
}
.queen_of_swords {
background-color:#000000;
}
.king_of_swords {
background-color:#cccccc;
}
.ace_of_coins {
background-color:#ffffff;
}
.two_of_coins {
background-color:#cccccc;
}
.three_of_coins {
background-color:#000000;
}
.four_of_coins {
background-color:#0000ff;
}
.five_of_coins {
background-color:#ff0000;
}
.six_of_coins {
background-color:ffff00;
}
.seven_of_coins {
background-color:#008000;
}
.eight_of_coins {
background-color:#ff8000;
}
.nine_of_coins {
background-color:#800080;
}
.ten_of_coins {
background-color:#a6a331;
}
.page_of_coins {
background-color:#a6a331;
}
.knight_of_coins {
background-color:#ffff00;
}
.queen_of_coins {
background-color:#000000;
}
.king_of_coins {
background-color:#cccccc;
}